body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  padding: 20px;
}

.container {
  background-color: white;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

p {
  font-size: 48px;
  font-weight: bold;
  margin: 20px 0;
}

.botoes button {
  font-size: 24px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  transition: 0.3s;
}

.botoes button:hover {
  background: #0056b3;
}
