body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  padding: 20px;
}

.container {
  background-color: white;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

input,
select,
button {
  font-size: 16px;
  padding: 10px;
  margin: 10px 0;
  width: 95%;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

#resultado {
  font-weight: bold;
  font-size: 18px;
}
